<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="asset/js/article/index.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <title>Astrix Blogs</title>

</head>

<body >
  
  <div id="app">
    
    <!-- header -->
    <header class="w-full px-6 bg-white">
      <div class="container mx-auto max-w-xl md:flex justify-between items-center">
        <a href="#" class="block py-6 w-full text-center md:text-left md:w-auto text-grey-dark no-underline flex justify-center items-center">
          {{ heading }}
        </a>
        <div class="w-full md:w-auto text-center md:text-right">
          <!-- Login / Regsiter -->
         
        </div>
      </div>
    </header>
    <!-- /header -->

    <!-- blog -->
    <div class="w-full bg-white">

      <!-- title -->
      <div class="text-center px-6 py-12 mb-6 bg-grey-lightest border-b">
        <img :src="blogImage" />
      </div>
      <!-- /title -->

      <div class="container max-w-xl mx-auto md:flex items-start py-8 px-6">

        <!-- articles -->
        <div class="w-full md:pr-12 mb-12">
          <article class="mb-12" v-for="blog in blogs" :key="blog.id">
            
            <h2 class="mb-4">
              <a href="#" class="text-black text-xl md:text-2xl no-underline hover:underline">
                {{blog.title}}
              </a>
            </h2>

            <div class="mb-4 text-sm text-grey-darker">
              by
              <a href="#" class="text-grey-darker">{{blog.user.first_name}} {{blog.user.last_name}}</a> on {{blog.published_at}}
              <span class="font-bold mx-1"> | </span>
              <a href="#" class="text-grey-darker">Uncategorised</a>
              <span class="font-bold mx-1"> | </span>
              <a href="#" class="text-grey-darker">{{blog.comments.length}} Comments</a>
            </div>

            <p class="text-grey-darker leading-normal">
              {{blog.description}}
            </p>

            <div style="margin-top: 10px">
              <div class="flex flex-col mb-6 md:w-full">
                <label class="mb-2 uppercase font-bold text-lg text-grey-darkest" for="password">Comments</label>
                <textarea v-model="comment" class="border py-2 px-3 text-grey-darkest" type="password" name="password"
                  placeholder="Type your comment"></textarea>
              </div>
              <button @click="postComment(blog)"
                class="block bg-teal hover:bg-teal-dark text-white uppercase text-lg  p-2 rounded " type="submit">Submit</button>
              
              <div style="margin-top: 10px" class="bg-blue-lightest border-t border-b border-blue text-blue-dark px-4 py-3" role="alert" v-for="comment in blog.comments">
                <p class="font-bold">{{comment.content}}</p>
                <p class="text-sm">{{comment.commented_at}}</p>
              </div>

            </div>
          </article>
        </div>
        <!--/ articles -->

      </div>

    </div>
    <!-- /blog -->


    <!-- footer -->
    <footer class="w-full bg-white px-6 border-t">
      <div class="container mx-auto max-w-xl py-6 flex flex-wrap md:flex-no-wrap justify-between items-center text-sm">
        &copy;2019 Your Company. All rights reserved.
        <div class="pt-4 md:p-0 text-center md:text-right text-xs">
          <a href="#" class="text-black no-underline hover:underline">Privacy Policy</a>
          <a href="#" class="text-black no-underline hover:underline ml-4">Terms &amp; Conditions</a>
          <a href="#" class="text-black no-underline hover:underline ml-4">Contact Us</a>
        </div>
      </div>
    </footer>
    <!-- /footer -->
  
  </div>
  <script>
    new Vue({
      el: "#app",
      data: {
        title: "Welcome to title changer",
        heading: "Astrix blog",
        comment:"",
        baseUrl: Toolkit.rootDomain,
        blogs:[],
        options: [{
          value: '1',
          label: 'Lisure'
        }, {
          value: '2',
          label: 'Technical'
        }, {
          value: '3',
          label: 'Uncategorised'
        }, {
          value: '4',
          label: 'Music'
        }, {
          value: '5',
          label: 'Travel'
        }],
      },
      methods: {
        changeTitle() {
          this.title = this.title.toUpperCase();
          return this.title;
        },
        postComment(blog){
          let blogid = localStorage.getItem('blogid')
          let data = {}
          data.user_id = blog.user.id
          data.content = this.comment
          data.article_id = blogid

          Toolkit.comment(data)
          .then(re=>{
            this.getBlog(blogid)
            console.log(re)
          })
          .catch(er=>{
            console.error(er)
          })
        },
        getBlog(blogid){
          Toolkit.getBlog(blogid)
          .then(res => {
            if (res) {
              if (res.data.data) {
                this.blogs = []
                this.blogs.push(res.data.data)
                console.log(res.data.data)
              }
            }
          })
          .catch(err => {
            console.error(err)
          })
        }
      },
      computed: {
        // a computed getter
        blogImage: function () {
          // `this` points to the vm instance
          if(this.blogs.length>0)
            return this.baseUrl+'images/'+this.blogs[0].files[0].file_name
          else
            return ''
        }
      },
      created () {
        var blogid = localStorage.getItem('blogid')
        if(blogid)
        {
          this.getBlog(blogid)
        }
        else
        {
          window.location.href = "index.html";
        }
        
        console.log('a is: ' + this.title)
      }
    });
  </script>
</body>

</html>